/02_The Pipeline/nbproject/private/
/02_The Pipeline/build/
/06_Assembly_Simulator/06_Assembly_Simulator.userprefs
/06_Assembly_Simulator/06_Assembly_Simulator/obj
/06_Assembly_Simulator/06_Assembly_Simulator/bin

